/* MovieModal.scss */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 368px) {
    width: 40%;
    height: 40%;
  }
}

.modal {
  background: linear-gradient(to right, rgb(79, 24, 24), red);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.modal-content {
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.poster img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.trailer-button {
  margin-top: 20px;
}

.trailer-button button {
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.trailer-button button:hover {
  background-color: #d32f2f;
}

@media (max-width: 368px) {
  .modal {
    width: 40%;
  }
}
